// app global css in Stylus form

// Link styles
a
  transition color 0.2s
  color black

  &:hover
    color $blue-8

  .body--dark &
    color white

    &:hover
      color $blue-8

.wrapper-link
  text-decoration none
  color unset

// Change the default body color for light theme
body.body--light
  background-color $grey-1

// Hide the +/- buttons on number text fields in Tauri on WebKit
// input[type=number]::-webkit-inner-spin-button,
input[type=number]
  -webkit-appearance none

// This isn't that valuable and caused problems on chrome so taking it out for now
// Make dark theme switch smooth
//*
//  transition background-color,color 0.6s ease